@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Quên mật khẩu</h2>

<div style="margin: 100px auto; width: 50%;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Nhập tên đăng nhập của bạn để tìm tài khoản</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.Label("Tên đăng nhập", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("userName", null, new { @class = "form-control" })
                    @Html.ValidationMessage("userName", "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Tìm tài khoản" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>

<h3>@ViewBag.ThongBao</h3>
