@model WebApplication3.Models.Voucher

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutADMIN.cshtml";
}

<div style="margin: 10px auto; width: 40%;">
    <h3 style="text-align:center">
        BẠN CÓ CHẮC CHẮN MUỐN XÓA CATEGORY
        NÀY?
    </h3>
    <div>
    
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Code)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Code)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DiscountPercent)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DiscountPercent)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        }
    </div>
    </div>