@model IEnumerable<WebApplication3.Models.Voucher>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutADMIN.cshtml";
}

<div style="margin: 10px auto; width: 60%;">
    <h2 style="text-align: center">THÔNG TIN VOUCHERS</h2>
    <p>
        @Html.ActionLink("TẠO MỚI", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    MÃ VOUCHER
                </th>
                <th>
                    MÃ CODE
                </th>
                <th>
                    % GIẢM GIÁ
                </th>
                <th>
                    LỆNH
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VoucherID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountPercent)
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "Edit", new { id = item.VoucherID }, new { @class = "btn btn-success" })
                        |
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.VoucherID }, new { @class = "btn btn-primary" })
                        |
                        @Html.ActionLink("Xóa", "Delete", new { id = item.VoucherID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
