@model WebApplication3.Models.AdminUser

@{
    ViewBag.Title = "Register";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayOutADMIN.cshtml";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container" style="width:70%; margin-left:400px;">
        <h4 style="margin-left:10px; font-family: Georgia;">Đăng ký tài khoản </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row"style="width:40%;background-color:whitesmoke">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label", style = "font-family: Georgia;" })
                    <div>
                        @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", style = "font-family: Georgia;" } })
                        @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NameUser, htmlAttributes: new { @class = "control-label", style = "font-family: Georgia;" })
                    <div>
                        @Html.EditorFor(model => model.NameUser, new { htmlAttributes = new { @class = "form-control", style = "font-family: Georgia;" } })
                        @Html.ValidationMessageFor(model => model.NameUser, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RoleUser, htmlAttributes: new { @class = "control-label", style = "font-family: Georgia;" })
                    <div>
                        @Html.EditorFor(model => model.RoleUser, new { htmlAttributes = new { @class = "form-control", style = "font-family: Georgia;" } })
                        @Html.ValidationMessageFor(model => model.RoleUser, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PasswordUser, htmlAttributes: new { @class = "control-label", style = "font-family: Georgia;" })
                    <div>
                        @Html.EditorFor(model => model.PasswordUser, new { htmlAttributes = new { @class = "form-control", style = "font-family: Georgia;" } })
                        @Html.ValidationMessageFor(model => model.PasswordUser, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" style="text-align: center;">
                    <input type="submit" value="Đăng ký" class="btn btn-primary" />
                  
                </div>
            </div>
        </div>
    </div>
}



