@model WebApplication3.Models.OrderPro

@{
    ViewBag.Title = "Xóa";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayOutADMIN.cshtml";
}

<div style="margin-left: 300px; width: 40%; background-color: floralwhite; font-family: 'Times New Roman', Times, serif;">
    <h2>Xóa đơn đặt hàng</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt style="color: black;">Ngày đặt hàng</dt>
        <dd style="color: black;">@Html.DisplayFor(model => model.DateOrder)</dd>

        <dt style="color: black;">Địa chỉ giao hàng</dt>
        <dd style="color: black;">@Html.DisplayFor(model => model.AddressDelivery)</dd>

        <dt style="color: black;">Tên khách hàng</dt>
        <dd style="color: black;">@Html.DisplayFor(model => model.Customer.NameCus)</dd>
    </dl>

    <p style="color: red;">Bạn có chắc chắn muốn xóa đơn đặt hàng này không?</p>

    @using (Html.BeginForm("Delete", "OrderProes", new { id = Model.ID }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Xóa" class="btn btn-danger" />
        @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary" })
    }
</div>
