@model WebApplication3.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayOutADMIN.cshtml";
}

<div style="margin: 10px auto; width: 40%;">
    <h2 style="text-align: center">TẠO MỚI PRODUCT</h2>
    @using (Html.BeginForm("Create", "Products", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                TÊN SẢN PHẨM
                <div class="col-md-10" style="border:1px solid black;border-radius:5px;">
                    @Html.EditorFor(model => model.NamePro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NamePro, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                MÔ TẢ
                <div class="col-md-10" style="border:1px solid black;border-radius:5px;">
                    @Html.EditorFor(model => model.DescriptionPro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescriptionPro, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                NHÓM SẢN PHẨM
                <div class="col-md-10" style="border:1px solid black;border-radius:5px;">
                    @Html.DropDownList("Category", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                GIÁ
                <div class="col-md-10" style="border:1px solid black;border-radius:5px;">
                    <!-- Sử dụng type="number" và min="0" để chỉ cho phép số nguyên không âm -->
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                HÌNH SẢN PHẨM
                <div class="col-md-10">
                    <input type="file" name="ImagePro" />
                    @Html.ValidationMessageFor(model => model.ImagePro, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 mb-3 mt-3">
                    <input type="submit" value="TẠO MỚI" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

