@using WebApplication3.Models
@model List<CartItem>
@{
    ViewBag.Title = "GetCartInfo";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div style="margin: 20px auto; width: 90%; margin-top: 100px;">
    <h2 style="text-align: center; font-family: 'Arial', sans-serif; font-size: 36px;">THÔNG TIN GIỎ HÀNG</h2>
    <hr />
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">MÃ SẢN PHẨM</th>
                    <th scope="col">TÊN</th>
                    <th scope="col">ẢNH</th>
                    <th scope="col">SỐ LƯỢNG</th>
                    <th scope="col">ĐƠN GIÁ</th>
                    <th scope="col">THÀNH TIỀN</th>
                    <th scope="col">CHI TIẾT</th>

                    <th scope="col">XÓA</th>
                    <th scope="col">BUY</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.ProductID</td>
                        <td>@product.NamePro</td>
                        <td>
                            <img src="~/Images/@product.ImagePro" style="width: 100px;" />
                        </td>
                        <td>
                            @using (Html.BeginForm("UpdateCartItem", "Cart", new { id = product.ProductID }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="number" min="1" value="@product.Number" name="Number" class="form-control" />
                                <button type="submit" class="btn btn-primary">Cập nhật</button>
                            }
                        </td>
                        <td>@product.Price.ToString("C0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))</td>
                        <td>@product.FinalPrice().ToString("C0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))</td>


                        <td>
                            @Html.ActionLink("Chi tiết", "Details", "CustomerProducts", new { id = product.ProductID }, new { @class = "btn btn-success" })
                        </td>
                        <td>
                            @Html.ActionLink("Xóa", "DeleteCartItem", "Cart", new { id = product.ProductID }, new { @class = "btn btn-danger" })
                        </td>
                        <td>
                            @using (Html.BeginForm("ConfirmCart", "Cart"))
                            {
                                @Html.Hidden("id", product.ProductID)
                                <button type="submit" class="btn btn-primary">MUA</button>
                            }
                        </td>
                    </tr>
                }
            <tr style="font-weight:bold; text-align:right; color:red;">
                <td colspan="5">Tổng số lượng: @ViewBag.TotalNumber</td>
                <td colspan="1">Tổng tiền: @ViewBag.TotalPrice.ToString("C0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))</td>

            </tr>
            </tbody>
        </table>
        @using (Html.BeginForm("ApplyVoucher", "Cart", FormMethod.Post))
        {
            @Html.Hidden("productId", Model.FirstOrDefault()?.ProductID ?? 0) <!-- Placeholder for productId -->
            @Html.TextBox("voucherId", null, new { @class = "form-control", placeholder = "Nhập mã voucher" })
            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Áp dụng voucher</button>
        }
    </div>
</div>
